.code-insight-container1 {
  position: relative;
  max-width: 1800px;
  height: 600px;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.course-tabs-wrapper1 {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 20px;
  margin: 10px 0;
  flex-wrap: wrap;
}

.code-insight-title1 {
  font-size: 19px;
  font-weight: bold;
  margin-top: 0;
}

.code-insight-details1 {
  /* margin: 15px;
  margin-right: 5px;
  margin-bottom: 20px; */
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-top: 0;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.code-insight-code1 {
  background-color: #ffffff;
  padding: 10px;
  padding-top: 10px;
  margin-top: 15px;
  border-radius: 8px;
  white-space: pre;
  word-wrap: break-word;
  height: 500px;
  width: 100%;
  max-width: 1800px;
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid #ddd;
  position: relative;
}

.code-container1 {
  position: relative;
  max-width: 1700px;
  margin: 0 1;
}

.copy-button1 {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000000;
  margin-right: 12px;
  background-color: transparent;
  font-size: 12px;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 10;
}

.copy-button1:focus {
  outline: none;
}

.copied-message1 {
  color: #ffffff;
  background-color: #333333;
  font-size: 14px;
  border-radius: 25px;
  padding: 3px 8px;
  margin-top: 5px;
  margin-right: 5px;
  z-index: 5;
  position: absolute;
  top: 40px;
  right: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.copied-message.show1 {
  opacity: 1;
}

.button-container1 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
}

button:disabled {
  background-color: #666666;
  cursor: not-allowed;
}

button:hover {
  transform: scale(1.1);
}

.prev-button {
  background-color: #1976d2;
}

.next-button {
  background-color: #1976d2;
}

/* Dropdown css */

.custom-autocomplete1 {
  width: 100%;
  margin-left: 0;
  margin-top: 5px;
}

.custom-autocomplete1 .MuiOutlinedInput-root {
  border-radius: 12px;
}

.custom-autocomplete1 .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #007bff;
  border-width: 2px;
}

.custom-autocomplete1:hover .MuiInputLabel-root {
  color: #007bff;
}


@media (max-width: 300px) {
  .code-insight-container1 {
    margin: 1px;
    padding: 5px;
  }

  .code-insight-code1 {
    height: 350px;
    width: 100%;
    padding: 35px 10px 10px;
  }

  button {
    width: 90px;
    margin-top: 10px;
  }

  .copy-button1 {
    position: absolute;
    margin-bottom: 10px;
    margin-top: -10px;
    margin-right: -10px;
    top: 10;
    right: 30;
    font-size: 12px;
    z-index: 10;
  }

  .pdf-button1 {
    top: 22px;
    right: 20px;
    font-size: 10px;
    padding: 5px;
  }

  .custom-autocomplete1 {
    width: 100% !important;
    min-width: 250px;
    max-width: 500px;
    margin-bottom: 15px;
    margin-left: 1px;
  }

  .code-insight-code1 {
    font-size: 12px;
    line-height: 1.2;
    word-spacing: 1px;
  }
}

.pdf-button1 {
  position: absolute;
  top: 35px;
  right: 10px;
  color: #000000;
  margin-right: 12px;
  background-color: transparent;
  font-size: 12px;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 10;
}

.pdf-button1:focus {
  outline: none;
}